In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [2]:
train = pd.read_csv(r"C:\Users\91892\Downloads\emnist-letters-train.csv",header=None)
test = pd.read_csv(r"C:\Users\91892\Downloads\emnist-letters-test.csv",header=None)

In [3]:
train

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88796,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88797,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88798,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88799,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14796,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14797,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14798,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14799,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
training_data = train.values
testing_data = test.values
X_test = (testing_data[:, 1:])
Y_test = testing_data[:, 0].reshape(testing_data.shape[0],1)
X_train = (training_data[:, 1:])
Y_train = training_data[:, 0].reshape(training_data.shape[0],1)
print("The shape of X_train is", X_train.shape)
print("The shape of X_test is", X_test.shape)
print("The shape of Y_train is", Y_train.shape)
print("The shape of Y_test is", Y_test.shape)
m,n=X_train.shape
def sigmoid(x):
    return 1/(1 + np.exp(-x))

The shape of X_train is (88800, 784)
The shape of X_test is (14800, 784)
The shape of Y_train is (88800, 1)
The shape of Y_test is (14800, 1)

In [6]:
def initial_parameters(n_x, n_h1, n_h2, n_y):
    theta_1 = np.random.randn(n_h1, n_x)*0.003

    
    theta_2 = np.random.randn(n_h2, n_y)*0.003

    
    return theta_1,theta_2

In [7]:
theta1,theta2=initial_parameters(785,524,26,525)
Y_train=Y_train.reshape((m,1))
Y = np.zeros((m, 26))
shobhii = 0
for i in Y_train:
    Y[shobhii][i-1] = 1
    shobhii += 1
Y
m,n=X_train.shape
u=np.ones((m,1))
X_train=np.concatenate((u,X_train),axis=1)
m,n=X_test.shape
u=np.ones((m,1))
X_test=np.concatenate((u,X_test),axis=1)

In [8]:
def cost(theta1,theta2,X_train,Y_train):
    m,n=X_train.shape
    a1=X_train
    a2=sigmoid(a1@theta1.T)
    u=np.ones((m,1))
    a2=np.concatenate((u,a2),axis=1)
    A=sigmoid(a2@theta2.T)
    
    J=  -((1/m)*np.sum( Y*np.log(A) + (1-Y)*np.log(1-A)))
    return J


def sigmoidGradient(z):
 
  
    g = np.zeros(z.shape)
  
 
  
    g = sigmoid(z)*(1-sigmoid(z))
    return g

In [9]:
theta1_diff=np.zeros((theta1.shape))
theta2_diff=np.zeros((theta2.shape))

In [12]:
def back_prop(theta1,theta2,X_train,Y):
    m,n=X_train.shape
    alpha=0.05
    iterations = 200
    for i in range(iterations):
            a1=X_train
            a2=sigmoid(a1@theta1.T)
            u=np.ones((m,1))
            a2=np.concatenate((u,a2),axis=1)
            a3=sigmoid(a2@theta2.T)
            h_x = a3
    
            DELTA3 = a3 - Y
            m,n=(DELTA3@theta2).shape
            DELTA2 = (DELTA3@theta2) * (np.concatenate((np.ones((m,1)), sigmoidGradient(a1@theta1.T)), axis = 1))
            DELTA2 = DELTA2[:, 1:]
  
            theta1_grad = (1/m) * (DELTA2.T@a1)
            theta1 = theta1-alpha*theta1_grad
    
            theta2_grad = (1/m) * (DELTA3.T@a2)
            theta2 = theta2-alpha*theta2_grad
            J=cost(theta1,theta2,X_train,Y)
            if(i%(iterations/10) == 0):
                print("The value of our cost is: ", J)
    return theta1,theta2,h_x

In [13]:
theta1,theta2,h_x = back_prop(theta1,theta2,X_train,Y)

The value of our cost is:  4.256678090816033
The value of our cost is:  4.066318622125038
The value of our cost is:  3.7774157821651526
The value of our cost is:  3.4765026332219433
The value of our cost is:  3.22378033878479
The value of our cost is:  2.9995125061419894
The value of our cost is:  2.799692369782111
The value of our cost is:  2.6687392942662247
The value of our cost is:  2.562550887821357
The value of our cost is:  2.403205434884004

In [14]:
a1=X_train
a2=sigmoid(a1@theta1.T)
m,n=X_train.shape
u=np.ones((m,1))
a2=np.concatenate((u,a2),axis=1)
a3=sigmoid(a2@theta2.T)
h_x = a3

In [15]:
m,n=h_x.shape
answer=[]

for i in range(m):
    index=np.argmax(h_x[i])
    answer.append(index+1)
Y_train

array([[23],
       [ 7],
       [16],
       ...,
       [ 1],
       [23],
       [12]], dtype=int64)

In [16]:
count=0
for i in range(m):
    if(answer[i]==Y_train[i]):
        count+=1

In [17]:
(count/m)*100

63.656531531531535

In [18]:
a1=X_test
m,n=X_test.shape
a2=sigmoid(a1@theta1.T)
u=np.ones((m,1))
a2=np.concatenate((u,a2),axis=1)
a3=sigmoid(a2@theta2.T)
h_x = a3

In [19]:
m,n=h_x.shape
answer=[]

for i in range(m):
    index=np.argmax(h_x[i])
    answer.append(index+1)

In [20]:
count=0
for i in range(m):
    if(answer[i]==Y_test[i]):
        count+=1

In [21]:
count/m*100

61.24324324324324